/*
Website Name: Bitcoin Theme
Description: HTML5, CSS3, Materilize
Author: Aarthy palanivelu
*/
/*-----------------------------------------------------------
1. Default styling
2. Login Page
3. Profile page
4. Trade Page
5. Open orders
6. KYC verification
7. Deposit
8. Dashboard
.  Media query
#. ----------------------------------------------------------*/
/*------------------
 * Default styling
 *------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body{
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
 }
body{
    background-color: #f4f8fc;
    position: relative;
}

span.badge{
    float: none;
    display: inline-block;
    margin: 2px 0;
}
.btn-special, .btn-special:hover, .btn-special:focus,
.btn-special:active, .btn-special:visited{
    text-transform: capitalize;
    background: #7C4CF3;
}
.btn-special.btn-block{
    width: 100%;
    height: 41px;
}
.padd0{
    padding: 0 !important;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 888;
    padding-left: 80px;
}
.main-header nav{
    padding: 0 1em;
}
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    /*padding-top: 64px;*/
    min-height: 100%;
    width: 80px;
    z-index: 999;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    border-right: 1px solid #BCC1CF;
    text-align: center;
}
.main-sidebar ul li i{
    font-size: 20px;
    color: #98999c;
    padding: 1em 0;
    display: inline-block;
}
.main-sidebar ul li:hover{
    border-right: 1px solid #0740F9; 
}
.main-sidebar ul li:first-child:hover{
    border-right: none;
}
.main-sidebar ul li:first-child:hover i{
    color: #98999c;
}
.main-sidebar ul li:hover i{
    color: #0740F9;
}
nav ul a, nav .brand-logo{
    color: #4C5057;
}
nav .brand-logo{
    font-size: 21px;
}
.content-main{
    padding: 2em;
    margin-left: 80px; 
}
.content-main .lead{
    font-size: 20px;
}
.content-main .keyword-otr {
    padding: 1em 0;
}
.content-main .keyword-otr ul li{
     display: inline-block;
}
.content-main .keyword-otr ul li a{
    padding: 15px;
    margin: 0 1.3em;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 50px;
    padding: 1em;
    text-align: center;
    display: inline-block;
    transition: all ease 0.5s;
}
.content-main .keyword-otr ul li:hover a{
    box-shadow: none;
}
.content-main .keyword-otr ul li p{
    text-align: center;
    font-size: 14px;
    margin-top: 7px;
    color: #5e4e57;
}
.content-main .keyword-otr ul li i{

    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.content-main #search{
    position: relative;
}
.content-main #search i{
    position: absolute;
    right: 0;
    bottom: 31px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.content-main .table {
    font-size: 14px;
}
.content-main .table td, .content-main .table th {
    padding: .75rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-radius: 0;
}
.content-main table tr, .content-main table td, .content-main table th, td, th {
    font-size: 12px !important;
}
.content-main table tr{
    transition: all ease-in-out 0.5s;
}
.content-main table tbody tr:hover{
  -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
}

.content-main .dropdown-content a{
    font-size: 13px;
    color: #4c5057;

}
.content-main .dropdown-content li{
    min-height: auto;
}
.content-main .media{
    position: relative;
}
.content-main .media .media-left{
    position: absolute;
    left: 0;
    top: 0;
}
.content-main .media .media-content p{
    margin: 0 0 1px;

}
.content-main .media .media-content {
        padding-left: 38px;
}
.pagination li a, .pagination li.disabled a, div.dataTables_wrapper div.dataTables_info {
    font-size: 14px !important;
    outline: none !important;
}
.pagination li.active {
    background-color: #0F29F6;
}
i.small{
    font-size: 20px;
}
.widthcollapse{
    width: 230px;
}
.backdrop{
    background-color: #4e54c8;
    font-size:12px !important;
}
.login-bg{
        background-image: url("../images/login-bg.jpeg");
        background-size: cover;
        background-position: center center;
        background-color:#6535CB;
}
.login-bg .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.4196078431372549);
}
.login-otr {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}
.login-otr .login-box {
    display: table-cell;
    vertical-align: middle;
}
.login-otr .login-box .login-content{
    max-width: 450px;
    margin: auto;
    border-radius: 4px;
}
.login-content-main{
    padding: 2em;
    position: relative;
    border-radius: 4px;
}
/*.login-content-main .logo-text{
    position: absolute;
    top: 10px;
}*/
.login-content-main:first-child{
    background-color: #F8F9FD ;
}
.box-2{
    background-color: #7C4CF3;
}
.login-content-main p.flow-text{
    margin-bottom: 0;
    font-size: 20px;
}
.login-content-main p.flow-text + small{
    font-size: 11px;
}
.login-content-main .logo-text span{
    color: #7c4cf3;
    font-weight: 600;
    font-size: 21px;
}
.login-content-main input:-webkit-autofill{
  -webkit-box-shadow: inset 0 0 0px 999px #F8F9FD !important;
 }
.login-content-main input{
    font-size: 13.5px !important;
    margin-bottom: 13px !important;
}
.login-content-main .help-text{
    display: inline-block;
    width: 100%;
    margin: 12px 0 0;
}
::-webkit-input-placeholder{
    color: #939495;
}
::-moz-placeholder{
    color: #939495;
}
:-ms-input-placeholder{
color: #939495;
}
:-moz-placeholder{
color: #939495;
}
.transfer-icon{
    transform: translateY(8em);
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
.visibility-hidden{
    visibility: hidden;
}
@media (max-width: 767px){
    .table-otr{
        overflow-x: auto;
        white-space: nowrap;
    }
    .transfer-icon{
        transform: none;
    }
    .main-header{
        padding-left: 0;
    }
    .main-sidebar{
        display: none;
    }
    .content-main{
        margin-left: 0;
    }
    .main-header{
        z-index: initial;
    }
}
/*.content-main .keyword-otr{
    margin-bottom: 3em;
}*/

